/* ------------------------------- GLOBAL SETTINGS ------------------------------- */
/* Learned this from https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz */
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color: #fff;
  background-color: #2e2d2d;
  -ms-overflow-style: none;  /* Hides scrollbar IE and Edge */
  scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

/* Hides scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

h1, h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 14px;
}

#blog, #about, #contact{
  scroll-margin-top: 50px; /* Creates Offset for Navigation Auto Scroll */
  text-align: center;
}

section:not(:first-of-type){
  height: 990px; /* Sets height of sections after Progress Reel */
  padding-top: 30px;
  position: relative;
  top: 0;
}

/* ------------------------------- HEADER ------------------------------- */
header{
  text-align: center;
}

.logo{
  width: 100px;
  margin: 0 auto;
}

h1{
  width: 550px;
  margin-bottom: 20px;
  /* Helps Center Full Name with the spacing in the middle */
  position: relative;
  left: 51vw;
  transform: translateX(-50%);
}

/* ------------------------------- NAVIGATION ------------------------------- */
nav{
  height: 40px;
  width: 100vw;
  background-color: #2e2d2d;
  padding: 0 25%;
  text-align: justify;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul{
  height: 40px;
}

/* Helps Space Nav Items Evenly While Using Justify */
nav ul:after {
  width:100%;
  margin: 0;
  display:inline-block;
  content:'';
}

.nav-item{
  width: 150px;
  text-align: center;
  display: inline-block;
}

.nav-item a{
  height: 40px;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-home a{
  color: #fff; /* sets HOME to white for easier navigation*/
}

.nav-item a:hover{
  color: #fff;
}

.nav-item a:active{
  color: #1f1f1f;
}

/* -------Underline Animation-------- */
.hoverAnimation {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #00000000;
  position: relative;
  overflow: hidden;
}
.hoverAnimation:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffffcc;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hoverAnimation:hover:before, .hoveranimation:focus:before, .hoverAnimation:active:before {
  left: 0;
  right: 0;
}
/* ------------------------------- PROGRESS REEL SECTION ------------------------------- */
.sectionReel{
  height: 800px;
  background: #2e2d2d;
  margin-bottom: 64px;
  background: linear-gradient(#2e2d2d 0%, #222222 50%, #2e2d2d 100%);
  z-index: -1;
}

#progress-reel{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  scroll-margin-top: 500px;
}

/* ------------------------------- BLOG SECTION ------------------------------- */
.sectionBlog{
  background-color: #141414;
}
/* ------------------------------- ABOUT SECTION ------------------------------- */
.portrait{
  width: 500px;
  height: 500px;
}

.portrait img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  position: relative;
  top: 35%;
  left: 20%;
}

.sectionAbout{
  background-color: #0f0f0f;
}
/* ------------------------------- CONTACT SECTION ------------------------------- */
.sectionContact{
  background-color: #000;
}
/* ------------------------------- FOOTER ------------------------------- */
footer{
  height: 150px;
  text-align: center;
  /* Creates Pride Background */
  background: #dd193a;
  background: linear-gradient(90deg, #dd193a 0%, #dd193a 16.667%, #f99435 16.667%, #f99435 33.334%, #fef032 33.334%, #fef032 50%, #00e35e 50%, #00e35e 66.667%, #0097fb 66.667%, #0097fb 83.334%, #8564e2 83.334%, #8564e2 100%);
}

footer p{
  background-color: #000;
  display: inline-block;
} 